/* ------ Спецификация ------ */

html, body {
  min-height: 500px;
  height: 100%;
  margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #2d3033;
	padding: 0;
	letter-spacing: -0.06em;
	margin: 0;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

p {
	margin: 0;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: -0.06em;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	color: #000;
	line-height: 1.5em;
	text-transform: uppercase;
}

a, a:hover, a:active {
	text-decoration: none;
}

a, button, input {
	transition: all 0.5s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active
 {
	outline: none;
}

.button {
	color: #fff;
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	background: #7ccb0c;
	text-align: center;
	border-radius: 3px;
	width: 194px;
	height: 47px;
	line-height: 47px;
	box-shadow: 0px 3px 6px rgba(140, 2, 24, 0.21);
}

.green-button {
	color: #fff;
	display: block;
	letter-spacing: 0em;
	font-size: 14px;
	text-transform: uppercase;
	background: #7ccb0c;
	text-align: center;
	border-radius: 3px;
	border: 1px solid transparent;
	height: 57px;
	width: 292px;
	font-weight: 700;
	line-height: 57px;
	box-shadow: 0px 3px 6px rgba(140, 2, 24, 0.21);
}

.green-button:hover {
	background: #fff;
	color: #7ccb0c;
	border: 1px solid #7ccb0c;
	box-shadow: 0px 0px 4px 1px rgba(124, 203, 12, 0.9)inset;
}

.container-fluid_plain {
	padding: 0;
}

.button:hover {
	color: #fff;
}

.ml-auto {
	margin-left: auto;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

.title-h2 {
	color: #fff;
	font-size: 24px;
	letter-spacing: -0.07em;
}

/*------ header -------*/

.header {
	padding-top: 5px;
}

.navigation-link {
	margin-left: 30px;
}

.navigation-link__link {
	font-size: 16px;
	color: #000;
	display: block;
	margin-top: 9px;
}

.navigation-link__link img {
	margin-right: 14px;
}

.numbers {
	text-align: right;
}

.numbers-one {
	margin-right: 22px;
}

.numbers-one__number {
	font-size: 18px;
	font-weight: 700;
	color: #000;
	display: block;
	margin-bottom: 9px;
	margin-top: 5px;
	letter-spacing: 0.02em;
}

.numbers__wrap {
	justify-content: space-between;
    align-items: center;
}

.numbers__search {
	text-align: left;
	color: #000;
	font-size: 19px;
}

.numbers-one__link img {
	margin-left: 5px;
}

.numbers-two__link {
	width: 160px;
	height: 35px;
	display: block;	
	text-align: center;
	color: #000;
	font-size: 14px;
	font-weight: 700;
	line-height: 35px;
	border-radius: 3px;
	border: 1px solid #000;
	background: transparent;
	margin-left: auto;
}


.numbers-two__link:hover {
    color: #fff;
    border: none;
    background: #446b98;
}

.bog-slider img {
	width: 100%;
}

.numbers-two i {
	display: none;
}

.main-menu {
	background: #104480;
	margin-top: 12px;
}	

.main-menu__items {
	padding: 26px 22px;
	position: relative;
	transition: 0.5s;
	position: relative;
}

.main-menu__items:before {
	content: '';
	background: #f7b92b;
	display: block;
	height: 2px;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
	background: linear-gradient(to left, #f7b92b, #f7b92b);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease-in-out;
}

.main-menu__items:hover::before{
	transform: scaleX(1);
	transform-origin: left;
}

.main-menu__items:hover > ul {
	display: block;
}

.main-menu__items > ul {
	position: absolute;
	top: 76px;
	left: 0;
	z-index: 1;
	display: none;
	
}

.main-menu__items ul li {
	width: 300px;
	padding-left: 27px;
	background: #fff;
	padding-right: 26px;
	display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.main-menu__items ul li i {
	text-align: right;
	color: #000;
}

.main-menu__items ul li:hover {
	background: #fbb433;
}

.main-menu__items ul li:hover ul {
	display: block;
}

.main-menu__items ul li a {
	font-size: 12px;
	font-weight: 500;
	color: #000;
	text-transform: uppercase;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

.main-menu__items ul li span {
    font-size: 12px;
	font-weight: 500;
	color: #000;
	text-transform: uppercase;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

.main-menu__items > ul li ul {
	position: absolute;
	top: 0;
	left: 300px;
	z-index: 1;
	box-shadow: -5px 0px 11px -12px #000;
	display: none;
}

.main-menu__items_one {
	padding-left: 0px;
}

.main-menu__item {
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	letter-spacing: -0.06em;
}

.main-menu__items i {
	font-size: 15px;
	margin-left: 5px;
	transition: 0.5s;
	color: #fff;
}

.main-menu__items:hover .main-menu__item {
	color: #f7b92b;
}

.main-menu__items:hover > i {
	transform: rotate(90deg);
	color: #f7b92b;
}

.menu-open {
	position: relative;
}

.menu-open:after {
	content: '';
	display: block;
	position: absolute;
	background: transparent;
	width: 36px;
	height: 36px;
	border: 1px solid #fff;
	border-radius: 50%;
	top: -16px;
	left: -7px;
	opacity: 0;
}

.menu-open span,
.menu-open span:before,
.menu-open span:after {
  	top: 50%; 
  	margin-top: -1.5px;
  	left: 50%; 
  	/*margin-left: -11px;*/
 	width: 22px;
 	height: 3px;
  	background: #fff;
  	display: block;
}

.menu-open span:before,
.menu-open span:after {
  	content: '';
  	display: block;
  	transition: 0.2s;
}

.menu-open span:before {
  transform: translateY(-8px);
}
.menu-open span:after {
  transform: translateY(8px);
}

.menu-open_active span {
	height: 0;
}

.menu-open_active span:before {
  	transform: rotate(-45deg);
}

.menu-open_active span:after {
  	transform: rotate(45deg);
}

.menu-open_active .menu-open:after {
	opacity: 1;
}

.menu-open_active {
	position: relative;
}

.menu-open_active:after {
	content: '';
	display: block;
	position: absolute;
	background: transparent;
	width: 36px;
	height: 36px;
	border: 1px solid #fff;
	border-radius: 50%;
	top: -16px;
	left: -7px;
	opacity: 1;
}

.search {
	position: relative;
}

.search__input {
	display: block;
	width: 246px;
	background: transparent;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	border: none;
	margin-left: auto;
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 0;
	padding: 0;
	height: 22px;
}

.search__input::placeholder {
	color: rgba(255, 255, 255, 0.8);
}

.search__button {
	background: transparent;
	color: rgba(255, 255, 255, 0.8);
	border: none;
	position: absolute;
    top: 0;
    right: 0;
	font-size: 19px;
	cursor: pointer;
}
.form-group {
    margin-bottom: 0;
}

.form-control:focus {
    background-color: transparent;
    border-color: transparent;
    outline: none;
    box-shadow:none;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.header-content {
	background: url(../img/background-one.jpg)no-repeat center center;
}

.offer {
	width: 630px;
	padding-top: 148px;
	padding-bottom: 161px;
}

.offer__title {
	font-size: 30px;
	font-weight: 700;
	color: #000;
	margin-bottom: 28px;
	letter-spacing: -0.05em;
	line-height: 1.7em;
}

.offer__text p {
	width: 538px;
	font-size: 18px;
	letter-spacing: -0.057em;
	margin-bottom: 43px;
}

/*_________ ABOUT __________*/

.abouts {
	background: #104480;
	padding-top: 54px;
	padding-bottom: 90px;
	position: relative;
}

.about-desc {
	margin-left: 22px;
}

.about-desc__title {
	font-size: 20px;
	color: #dff6f9;
	font-weight: 700;
	text-transform: none;
	margin-bottom: 15px;
}

.about-desc__title span {
	font-size: 40px;
	color: #f7b92b;
}

.about-desc__text {
	font-size: 14px;
	color: #dff5f9;
	letter-spacing: 0em;
}

.discount {
	width: 974px;
	text-align: center;
	padding: 39px 0;
	position: absolute;
	left: 50%;
    margin-left: -487px;
	top: 195px;
	background: #fff;
	border: 2px solid #104480;
	border-radius: 3px;
	box-shadow: 2px 0px 8px rgba(255, 255, 255, 0.14)
}

.discount p {
	text-transform: uppercase;
	font-size: 18px;
	color: #000;
	width: 775px;
	font-weight: 700;
	margin: 0 auto;
	letter-spacing: -0.06em;
}

.discount__text span {
	font-size: 24px;
	margin: 0 4px;
}

/*__________ ABOUT ____________*/

.about {
	background: url(../img/background-two.jpg)no-repeat;
	padding-top: 173px;
	padding-bottom: 94px;
}

.about__title {
	margin-bottom: 35px;
}

.spoiler p {
	color: #fff;
	letter-spacing: 0em;
	margin-bottom: 11px;
}

.about__text_one {
	width: 555px;
	margin-bottom: 21px;
}

.about__link {
	margin: 0 auto;
    background: transparent;
    color: #7ccb0c;
    border: 1px solid #7ccb0c;
    font-size: 12px;
    font-weight: 500;
    box-shadow: none;
    margin-top: 195px;
	margin-bottom: 70px;
}

.about__text-button {
	width: 194px;
	height: 47px;
	display: block;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
	line-height: 47px;
	border-radius: 3px;
	background: transparent;
	display: none;
	text-transform: uppercase;
	font-size: 12px;
}

/*_________ CONTENT ________*/


.contents {
	position: relative;
	padding-top: 132px;
	background: #f1f4f8;
}

.contents__wrap {
	position: absolute;
	top: -221px;
	left: 16px;
}

.card__one {	
	width: 370px;
	margin-right: 30px;
}



.content {
	padding-top: 50px;
	padding-bottom: 0px;
	background: #f1f4f8;
}

.card {
	text-align: center;
	padding-top: 27px;
	padding-bottom: 0px;
	border-radius: 0;
	height: 180px;
	margin-bottom: 42px;
	box-shadow: 0px 9px 20px -9px rgba(0, 0, 0, 0.13);
}

.card__img {
	width: 18%;
	margin: 0 auto;
	margin-bottom: 19px;
}

.card__img_one {
	width: 69px;
}

.card__img_two {
	width: 57px;
}

.card__img_three {
	width: 89px;
}

.card__img_four {
	width: 63px;
}

.card__title {
	font-size: 16px;
	font-weight: 500;
	width: 162px;
	margin: 0 auto;
	letter-spacing: -0.1em;
}

.card__title_one {
	width: 245px;
}

.contents__link {
	margin: 0 auto;
	font-size: 12px;
	font-weight: 500;
	margin-top: 7px;
	margin-bottom: 46px;
}

.contents__link:hover {
    background: #fff;
    color: #7ccb0c;
    border: 1px solid #7ccb0c;
    box-shadow: 0px 0px 4px 1px rgba(124, 203, 12, 0.9)inset;
}

/*____________ REASONS _____________*/

.reasons {
	padding: 45px 0;
	background: #f1f4f8;
}

.reason {
	background: url(../img/cooperation.jpg);
	padding-top: 80px;
	background-position: 50% 0%;
	padding-bottom: 44px;
}

.reason__title {
	margin-bottom: 48px;
}

.reason__text {
    display: flex;
    align-items: center;
    height: 80px;
    margin-left: 70px;
}

.reason__text p {
	font-size: 16px;
	font-weight: 600;
	width: 350px;
	letter-spacing: -0.06em;
	color: #fff;
	align-items: center;
}

.reason__text > span {
	font-size: 72px;
	color: #fcaf35;
	margin-right: 12px;
}

.reason__span {
	margin-right: 22px !important;
}

.reason__text_six {
	width: auto;
}

.reason__text_four {
	width: 280px;
}

/*_______ OUR-WORK _______*/

.our-work {
	background: #f1f4f8;
	padding-top: 36px;
	padding-bottom: 92px;
}

.our-work__title {
	color: #000;
	margin-bottom: 32px;
}

.our-work__text {
	width: 830px;
	margin: 0 auto;
	font-weight: 500;
	color: #000;
	font-size: 16px;
	letter-spacing: -0.06em;
	margin-bottom: 33px;
}

.our-work__link {
	width: 200px;
	height: 48px;
	display: block;
	text-transform: uppercase;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 29px;
	background: transparent;
	border: 1px solid #134c8d;
	color: #134c8d;
	margin-right: 14px;
}

.our-work__link:active {
	background: #134c8d;
	color: #fff;
	border: 1px solid #134c8d;
}

.our-work__link:focus {
	background: #134c8d;
	color: #fff;
	border: 1px solid #134c8d;
}

.tabs {
    width: 100%;
}

.tabs__content {
  display: none; 
}

.tabs__content.active {
    display: block;
}

.nav-link.active {
    background: #134c8d;
    color: #fff;
	border: 1px solid #134c8d;
}

.single-item {
    text-align: center;
}


/*____________ CUSTOMERS ___________*/

.customers__wrap {
	background: #134c8d;
	padding-top: 84px;
	padding-bottom: 53px;
}

.customers__title {
	margin-bottom: 40px;
}

.slider {
	margin-bottom: 53px;
}

.slider img {
	width: 100%;	
}

.customer {
	padding-top: 82px;
	padding-bottom: 120px;
}

.customer__title {
	color: #000;
	margin-bottom: 47px;
}

.one-slider {
	background: #f1f4f8;
	box-shadow: 2px 0 7px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	padding: 19px 43px 19px 17px;
}

.one-slider__wrap {
	padding-top: 34px;
}

.one-slider__img {
	margin-right: 50px;
	width: auto !important;
}

.one-slider__inner {
	margin-bottom: 15px;
}

.one-slider__wrap p:nth-child(3) {
    text-align: left;
}

.one-slider__title {
	font-size: 16px;
	letter-spacing: -0.07em;
	margin-right: 40px;
}

.one-slider__data {
	font-size: 13px;
	padding-top: 4px;
}

.one-slider__text {
	line-height: 1.7em;
    letter-spacing: -0.047em;
}

.one-slider__span {
	font-size: 14px;
	display: block;
	letter-spacing: -0.06em;
	margin-top: 30px;
	text-align: right;
}

.slick-next i, .slick-prev i {
	font-size: 50px;
	color: #dcdcdc;
	margin-top: -14px;
	margin-left: 0px;
}

.slick-next:before, .slick-prev:before {
	content:'';
}

/*__________ CONTACTS____________*/

.contacts {
	background: #184982 url(../img/background-three.jpg);
	padding-top: 51px;
	padding-bottom: 126px;
}

.contacts__title {
	margin-bottom: 45px;
}

.contacts-wrap__title {
	font-size: 18px;
    color: #fff;
    padding: 51px 0;
    text-align: center;
    letter-spacing: -0.07em;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 56px;
}

.contacts-wrap__left {
	width: 300px;
}

.contacts-wrap__title_two {
	font-weight: 700;
	color: #fb9821;
	font-size: 16px;
	letter-spacing: -0.06em;
	margin-bottom: 22px;
}

.contacts-wrap__links {
	background: url(../img/ringer.png)no-repeat left top;
	padding-left: 41px;
}

.contacts-wrap__links_two {
	background: url(../img/letter-white.png)no-repeat left top;
}

.contacts-wrap__link {
	color: #fff;
	letter-spacing: -0.04em;
    display: block;
    margin-bottom: 13px;
}

.contacts-wrap__text {
	background: url(../img/marker-white.png)no-repeat top left;
	color: #fff;
	width: 430px;
    padding-left: 37px;
    line-height: 2.7em;
    margin-top: -10px;
}

.connection {
	padding: 50px 51px 43px;
	background: #fff;
	border: 2px solid #0d3768;
	box-shadow: 3px 4px 25px rgba(0, 0, 0, 0.29);
}

.connection__title {
	font-size: 16px;
	color: #000;
	letter-spacing: -0.08em;
	margin-bottom: 11px;
}

.connection__text {
	margin-bottom: 22px;
	letter-spacing: -0.07em;
}

.form__input {
	font-size: 14px;
	width: 269px;
	height: 43px;
	border: 1px solid #7f7f7f;
	border-radius: 3px;
	padding-left: 16px;
	letter-spacing: -0.07em;
	margin-bottom: 11px;
	font-family: 'Montserrat';
}

.form__button {
	margin-top: 5px;
	width: 269px;
	height: 46px;
	background: #fb9821;
	border: none;
	border-radius: 3px;
	text-align: center;
	color: #fff;
	font-weight: 700;
}

.form__label {
	font-size: 10px;
	color: #bbb;
	cursor: pointer;
	margin-top: 27px;
	padding-left: 32px;
	position: relative;
	text-align: left;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked + label:before {
	background: url(../img/checmark.png)no-repeat center center;
}

.form__label:before {
	content: '';
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	border: 1px solid #b2b2b2;
	text-align: center;
	line-height: 18;
	position: absolute;
	left: 0px;
	top: 2px;
}

.map {
	margin-top: 38px;
}

/*_________ FOOTER _________*/

.footer {
	padding-top: 59px;
	padding-bottom: 95px;
	background: #021933;
}

.footer__logo img {
	width: 100%;
}

.footer__button_one {
	display: block;
	width: 120px;
	height: 41px;
	background: #677585;
	font-size: 12px;
	text-align: center;
	line-height: 41px;
	letter-spacing: -0.07em;
	color: #fff;
	margin-top: 50px;
	text-transform: uppercase;
}

.footer__links {
	text-align: center;
}

.footer__links-wrap {
	margin-bottom: -10px;
    justify-content: center;
    margin-top: 26px;
}

.footer__link {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	margin-right: 12px;
}

.footer__link_one {
	background: url(../img/facebook.png)no-repeat center center;
}

.footer__link_two {
	background: url(../img/vkontakte.png)no-repeat center center;
}

.footer__link_three {
	background: url(../img/twitter.png)no-repeat center center;
}

.footer__link_four  {
	border-radius: 0px;
	background: url(../img/odnoklassniki.png)no-repeat center center;
}

.footer__link_five {
	border-radius: 0px;
	width: 35px;
	background: url(../img/yotube.png)no-repeat center center;
}

.footer__link_six {
	border-radius: 0px;
	background: url(../img/instagram.png)no-repeat center center;
}

.footer__text {
	color: #77818d;
	letter-spacing: -0.07em;
	font-size: 12px;
	margin-top: 56px;
}

.footer__number {
	font-size: 16px;
	color: #cbcdd0;
	font-weight: 700;
	display: block;
    margin-bottom: 19px;
    margin-top: -16px;
}

.footer__button_two {
	width: 160px;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #cbcdd0;
	background: transparent;
	border-radius: 3px;
	border: 1px solid #cbcdd0;
	font-size: 12px;
	font-weight: 700;
}

/*_________ SLIDER _________ */

.big-slider__width {
	display: block;
    outline: none;
    cursor: pointer;
    margin-top: 29px;
    width: 270px !important;
    height: auto;
    margin-right: 20px;
}

.big-slider__width img {
	height: 150px;
}

.big-slider img {
	width: 100%;
}

/* SERVICES-ONE*/

.polyurethanes {
	background: #f6fafe;
}

.polyurethanes__list {
	padding-top: 31px;
}

.polyurethanes__item {
	font-size: 12px;
	color: #000;
	font-weight: 300;
}

.polyurethanes__item span {
	margin-right: 5px;
	margin-left: 5px;
	font-size: 16px;
}

.polyurethanes__item:active {
	color: #fb9821;
}

.polyurethane__title {
	color: #000;
	margin-top: 74px;
	margin-bottom: 33px;
}

.polyurethane__text {
	font-size: 14px;
	letter-spacing: -0.06em;
	margin-bottom: 17px;
}

.polyurethane__text span {
	font-weight: 700;
}

.polyurethane__text_one {
	margin-bottom: 10px;
}

.polyurethane__wrap {
	padding-top: 9px;
	margin-bottom: 41px;
}

.polyurethane__inner {
	padding: 41px 5px 5px 68px;
}

.polyurethane__title-small {
	font-size: 14px;
	letter-spacing: -0.07em;
	margin-bottom: 6px;
}

.polyurethane__text_two {
	margin-bottom: 7px;
	letter-spacing: -0.06em;
}

.polyurethane__title_two {
	color: #000;
	margin-top: 59px;
	margin-bottom: 17px;
}

.polyurethane__text_three {
	margin-bottom: 0;
}

.polyurethane__button {
	margin: 0 auto;
	margin-bottom: 92px;
    margin-top: 30px;
}

/*____________ CATALOG _____________*/

.rent {
	background: #f6fafe;
}

.rent__title {
	color: #000;
	margin-top: 74px;
	margin-bottom: 40px;
}

.rent-card {
	box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.16);
	margin-bottom: 22px;
}

.rent-card__img {
	background: #fff;
}

.rent-card__wrap {
	padding: 19px 104px 0px 36px;
    background: #fff;
}

.rent-card__title {
	font-size: 24px;
	letter-spacing: -0.06em;
	margin-bottom: 24px;
	font-weight: 300;
	text-transform: none;
}

.rent-card__text {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: -0.07em;
	margin-bottom: 9px;
}

.rent-card__items {
	padding-left: 22px;
}

.rent-card__item {
	font-size: 14px;
	position: relative;
	letter-spacing: -0.06em;
	margin-bottom: 6px;
}

.rent-card__item:before {
	content: '';
	position: absolute; 
	left: -23px;
	top: 2px;
	display: block;
	background: url(../img/icon-filled.jpg);
	width: 15px;
	height: 15px;
}

.rent-card__icon {
	margin-right: 5px;
}

.rent-card__span {
	font-size: 18px;
	font-weight: 700;
	margin-top: 42px;
	margin-bottom: 19px;
	display: block;
	letter-spacing: -0.07em;
}

.rent-card__span span {
	font-size: 30px;
}

.rent-card__button {
	font-size: 12px;
	width: 268px;
	letter-spacing: 0.01em;
}

.rent__info {
	margin-bottom: 99px;
}

.rent__title-small {
	text-transform: none;
	margin-bottom: 10px;
}

/*_____________ SALE _______________*/

.sales {
	background: #f6fafe;
	padding-bottom: 75px;
}

.sale__title {
	color: #000;
	margin-top: 74px;
	margin-bottom: 40px;
	text-align: center;
}

.sale-wrap__one {
	background: #fff;
}

.sale-wrap__inner_two {
	padding: 20px 0px 0px 30px;
}

.sale-wrap__title {
	color: #000;
	font-weight: 300;
	margin-bottom: 12px;
}

.sale-wrap__title-small {
	font-size: 14px;
	text-transform: none;
}

.sale-wrap__button {
	margin-top: 20px;
    width: 222px;
    font-size: 12px;
    margin-bottom: 15px;

}

.sale-wrap__two	{
	padding-top: 48px;
}

.sale-wrap__title_two {
	color: #000;
	font-weight: 300;
	margin-bottom: 23px;
}

.sale__title_two {
	color: #000;
	font-weight: 300;
	text-align: center;
	margin-top: 45px;
	margin-bottom: 23px;
}

.sale-card {
	text-align: center;
	padding: 0px 42px 30px 42px;
	background: #fff;
	margin-bottom: 30px;
	height: 450px;
}

.sale-card__img {
	margin-bottom: 11px;
	width: 100%;
}

.sale-card__text {
	font-size: 14px;
	margin-bottom: 5px;
	height: 80px;
}

.sale-card__span {
	display: block;
	margin-top: 7px;
	font-size: 16px;
}

.sale-card__price {
	font-size: 18px;
	font-weight: 700;
	margin-top: 15px;
	margin-bottom: 24px;
}

.sale-card__button {
	width: 224px;
	margin: 0 auto;
	font-size: 12px;
}

.sale-aside {
	padding: 36px 0px 45px 74px;
    background: #104480;
    outline: 1px solid #7795b7;
    outline-offset: -8px;
    margin-top: 62px;
    margin-bottom: 37px;
}

.sale-aside__text_one {
	font-size: 18px;
    color: #fff;
    line-height: 1.3em;
    margin-bottom: 23px;
}

.sale-aside__text_two {
	font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.sale-aside__text_two span {
	width: 430px;
	display: block;
	margin: 0 auto;
}

.sale__title-h4 {
	font-size: 18px;
	text-align: center;
	margin-bottom: 37px;
}

.big-card {
	background: #fff;
	padding: 0px 0px 0px 1px;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

.big-card__inner {
	padding: 22px 0px 0px 4px;
}

.big-card__inner_two {
	padding-right: 15px;
}

.big-card__title {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 6px;
}

.big-card__title-small {
	font-size: 14px;
	text-transform: none;
	margin-bottom: 5px;
}

.big-card__button {
	width: 268px;
	font-size: 12px;
	margin: 30px auto 83px;
}

.sale__title-h4_two {
	font-size: 20px;
	margin-bottom: 36px;
}

.big-card-two {
	margin-bottom: 18px;
}

.big-card__title_two {
	font-size: 20px;
	margin-bottom: 15px;
}

.big-card__button_two {
	margin-top: 17px;
    margin-bottom: 13px;
}

/*________________ PRICES _________________*/

.prices {
	background: #f6fafe;
	padding-bottom: 90px;
}

.price__title {
	color: #000;
	text-align: center;
	margin: 74px auto 43px;
	width: 700px;
}

.price-card {
    height: 140px;
	background: #104480;
	margin-bottom: 28px;
	text-align: center;
	padding: 13px 30px 36px 20px;
}

.price-card__img {
	margin-bottom: 12px;
}

.price-card__text {
	color: #fff;
}

.price-card__text_two {
	width: 170px;
	margin: 0 auto;
}

.price__title_two {
	margin-top: 15px;
	margin-bottom: 26px;
	font-size: 18px;
}

.table-one {
	border: 3px solid #fff;
    border-spacing: 0;
    border-collapse: collapse;
	margin-bottom: 26px !important;
}

.table-one tr {
	text-align: center;

}

.table-one th {
	border: 3px solid #fff;
	font-weight: 300;
	background: #bcfc9f;
	padding: .35rem !important;
}

.table-one th span {
	font-weight: 700;
	display: block;
}

.table-one th:first-child, .table-one td:first-child {
	width: 398px;
	background: #bcfc9f;
}

.table-one th:nth-child(2) {
	width: 198px;
}

.table-one td {
	border: 3px solid #fff;
	background: #f4f4b6;
}

.table-one td, .table-one th {
	font-size: 14px;
	vertical-align: middle !important;
}

.price__button {
	margin: 24px auto 58px;

}

.price__title_three {
	text-align: center;
	color: #000;
	margin-top: ;
	margin-bottom: 11px;
	font-size: 18px;
}

.price__title-small {
	font-size: 14px;
	text-transform: none;
	margin-bottom: 14px;
}

.price-text {
	margin-bottom: -3px;
	margin-left: 4px;
}

.table-two {
	margin-top: 24px;
	margin-bottom: 50px !important;
}

.table-two th:nth-child(5) {
	width: 175px;
}

.graco-card {
	background: #fff;
	margin-bottom: 26px;
}

.rent-two {
	padding-bottom: 76px;
	background: #f1f7fd;
}

.graco-card__img {
	margin-right: 40px;
}

.graco-card__wrap {
	padding: 20px 0px 0px 0px;
	
}

.graco-card__wrap_two {
	padding: 72px 0px 0px 0px;
	width: 440px;
}

.graco-card__title {
	font-weight: 300;
	margin-bottom: 13px;
	font-size: 24px;
	text-transform: none;
}

.graco-card__text span {
	font-weight: 700;
}

.graco-card__inner {
	margin-top: 25px;
	margin-bottom: 39px;
}

.graco-card__inner-wrap {
	text-align: center;
	margin-right: 35px;
}

.graco-card__inner-wrap_two {
	padding-top: 7px;
}

.graco-card__inner-img {
	margin-bottom: 6px;
}

.graco-card__inner-text {
	font-size: 11px;
	text-align: center;
	display: block;
    width: 65px;
    line-height: 1em;
}

.graco-card__button {
	width: 250px;
	font-size: 12px;
	margin-bottom: 25px;
}

.graco-card__title-small {
	font-size: 14px;
}

.graco-card__items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #f6f6f6;
	height: 21px;
}

.graco-card__items:nth-child(2n) {
	background: #f3f3f3;
}

.graco-card__items span {
	font-size: 14px;
	text-align: left;
	width: 70px;
}

.rent-three {
	padding-bottom: 91px;
	background: #f1f7fd;
}

.miny-card {
	background: #fff;
	padding: 0px 0px 0px 0px;
	text-align: center;
	margin-bottom: 31px;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
	padding-bottom: 36px;
}

.miny-card__img {
	margin-bottom: 8px;
	width: 100%;
}

.miny-card__text_two {
	width: 130px;
	margin: 0 auto;
}

.rent-three__button {
	width: 268px;
	margin: 18px auto 0;
	font-size: 12px;
}

/*---------- BOX-Modal-----------*/

.box-modal {
	position: relative;
	width: 412px;
	padding: 45px 51px 56px 52px;
	background: #fff;
	color: #081d42;
	border-radius: 6px;
	text-align: center;
}
.box-modal_close { position: absolute; right: 10px; top: 6px; font-size: 11px; line-height: 15px; color: #999; cursor: pointer; }
.box-modal_close:hover { color: #666; }

.arcticmodal-container_i {
	border: none;
}

.arcticmodal-container_i2 {
	background: transparent !important;
}

.slick-slide img {
    width: 100%;
}

.text_wrap p strong, .services_list_wrap p {
	padding-left: 15px;
	position: relative;	
	line-height: 23px;
}

.text_wrap p strong:before {
	content: '';
	display: block;
	position: absolute;
	background: #fb9821;
	height: 7px;
	width: 7px;
	border-radius: 50%;
	top: 5px;
	left: 0px;
}

.services_list_wrap p:before {
    content: '';
	display: block;
	position: absolute;
	background: #fb9821;
	height: 7px;
	width: 7px;
	border-radius: 50%;
	top: 8px;
	left: 0px;
}

.text_wrap_sec {
    margin-top: 20px;
}

.videos_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.services__image_1 {
    margin-top: 30px;
}

.title_sec_sect {
    text-align: center;
    margin-top: 65px;
    margin-bottom: 30px;
}

.last_par_text {
    margin-top: 30px;
    margin-bottom: 40px;
}

.green-btn {
    margin: 0 auto 65px;
}

.main_title {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
}

.mt-serv {
    margin-top: 17px;
}

.mt-30_serv {
    margin: 35px 0;
}

.img_wrap_mts {
    margin: 35px 0;
}

.text_wraps_last {
    margin-bottom: 25px;
}

.text_wraps_1 {
    margin: 20px 0 32px;
}

.text_wraps_2 {
    margin: 30px 0;
}

.text_wraps_3 {
    margin: 40px 0;
}

.second_sec_title_moroz {
    margin-bottom: 30px;
    text-align: center;
}

.videos {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.margin_btns {
    margin: 50px 0 70px;
}

.img_wrap img {
    width: 100%;
}

.text_wraps_cont_1 {
    margin: 20px 0 30px;
}

.text_wraps_cont_2 {
    margin: 30px 0 45px;
}

.img_wrap_mb_desc {
    margin-bottom: 30px;
}

.text_wraps p {
    line-height: 24px;
}

.warming {
    background: #f0f7fd;
}

.main_title_mbs {
    margin-bottom: 30px;
}

.wrap_mbss {
    margin-top: 45px;
}

.wrap_mbs {
    margin-top: 30px;
}

.text_inner_title {
    margin-top: 35px;
    margin-bottom: 25px;
}

.text_inner_title {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}

.lineH {
    margin-bottom: 60px;
    
}

.lineH p {
    line-height: 24px;
    position: relative;
    padding-left: 15px;
}

.lineH p:before {
    content: '';
	display: block;
	position: absolute;
	background: #fb9821;
	height: 7px;
	width: 7px;
	border-radius: 50%;
	top: 8px;
	left: 0px;
}

.titless {
    text-align: center;
    margin-bottom: 35px;
}

.text_wrapses p strong {
    text-transform: uppercase;
}

.main_title_mb30 {
    margin-bottom: 30px;
}

.img_wrap_margin_30 {
    margin: 30px 0;
}

.text_wrap_width p:first-child {
    width: 418px;
}

.mini_title {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 35px;
}

.margin_btnss {
    margin: 50px auto 70px; ;
}

.text_wraps_bottom {
    margin-bottom: 25px;
}

.last_title {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}

.margin_btns_pdng {
    padding-bottom: 50px;
    margin-top: 50px;
}

.img_wrap_zalivka {
    margin: 10px 10px;
}

.table-three {
	border: 1px solid #000;
    border-spacing: 0;
    border-collapse: collapse;
	
}

.table-three td {
	border: 1px solid #000000;
	font-size: 14px;
	padding: 20px 35px 20px 30px;
}

.table-three th {
	border: 1px solid #000000;
	font-size: 14px;
	text-align: center;
}

.table-three td:nth-child(1) {
	width: 23%;
}

.table-three td:nth-child(2) {
	width: 34%;
}

.search__results {
    border: 1px solid #ccc;
    padding: 20px 0 20px 20px;
    margin-bottom: 30px;
}

.search_page {
    padding: 45px 0;
}

.simplesearch-results {
    margin: 0 auto 30px;
    font-size: 18px;
    color: #000;
    font-weight: 700;
}

.simplesearch-paging {
    margin: 0 auto;
    color: transparent;
    display: flex;
}

.simplesearch-page {
    color: #000;
}

.simplesearch-page a {
    color: #000;
    width: 25px;
    height: 25px;
    display: block;
    background: transparent;
    text-align: center;
    padding-top: 1px;
    border: 1px solid rgba(196, 196, 196, 0.71);
}

.simplesearch-current-page {
    color: #fff;
    width: 25px;
    height: 25px;
    display: block;
    background: #ccc;
    text-align: center;
    padding-top: 1px;
    border: 1px solid rgba(196, 196, 196, 0.71);
}

.rows_custom {
    flex-direction: column;
}

.polyurethanes__items_active {
    color: #ff8b00;
    font-size: 12px;
    line-height: 26px;
}

.sale-aside__text_one {
    text-align: center;
}

.sale-aside__text_two {
    width: 544px;
    margin: 0 auto;
}

.big-card__inner {
    padding: 22px 13px 0px 4px;
}

.paint-card {
    height: 280px;
}

.paint_text {
    text-align: center;
    padding: 0px 5px;
}

.paint_img {
    width: 100%;
    margin-bottom: 15px;
}

.text_wrapper_polymeric p strong {
    position: relative;
    padding-left: 23px;
    text-transform: uppercase;
    
}

.text_wrapper_polymeric p strong:before {
    position: absolute;
    top: 2px;
    left: 0px;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: url(../img/polymeric-icon.png)no-repeat;
}

.miny-card {
    height: 88%;
}

.numbers__wrap form {
    display: none;
}

.box-modal_two {
    width: 1300px;
    background: #1c4c83;
    padding: 55px 0px;
}

.box-modal_two img {
    margin-right: 44px;
}

.sertif__item {
     margin: 0 13px;
}

.sertif__item, .sertif__item img {
    width: 260px!important;
    height: 100%;
    display: block;
}

.sertif .slick-list .slick-track {
    display: flex;
    width: 1148px!important;
}

.form__button {
   cursor: pointer;
}

.our-work__link {
    cursor: pointer;
}

input[type="checkbox"] {
    display: block !important;
    position: absolute;
    left: 54px;
    bottom: 75px;
    opacity: 0;
    width: 14px;
    height: 14px;
    z-index: 1;
    cursor: pointer;
}

.box-modal_two {
    position: relative;
    border: 1px solid #fff;
}

.box-modal_close {
    position: absolute;
    right: 50%;
    top: -5px;
    font-size: 13px;
    color: #999;
    cursor: pointer;
    width: 9px;
    color: #fff;
}

.box-modal_close:before {
    content: 'х';
    position: absolute;
    display: block;
    left: -12px;
    top: -12px;
    width: 40px;
    border-radius: 46%;
    height: 40px;
    border-top: 2px solid #fff;
    z-index: 3;
    background: #1c4c83;
    text-align: center;
    line-height: 42px;
}

.box-modal_close:after {
    content: '';
    display: block;
    width: 31px;
    height: 31px;
    border: 1px solid #fff;
    position: absolute;
    top: -3px;
    left: -7px;
    border-radius: 50%;
    z-index: 5;
}

.single-item__reviews .slick-prev i {
    font-size: 50px;
    color: #dcdcdc;
    margin-top: -14px;
    margin-left: 0px;
}

.big-card, .sale-card {
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, .1);
}

.slider-nav .slick-dots li button {
    border: 1px solid #777;
    border-radius: 50%;
    -webkit-transition: border-color .3;
    -moz-transition: border-color .3;
    -ms-transition: border-color .3;
    -o-transition: border-color .3;
    transition: border-color .3;
}

.slider-nav .slick-dots li button:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #777;
    opacity: 1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin: -4px 0 0 -4px;
    -webkit-transition: background .3;
    -moz-transition: background .3;
    -ms-transition: background .3;
    -o-transition: background .3;
    transition: background .3;
}

.slider-nav .slick-dots li button:hover,
.slider-nav .slick-dots li.slick-active button {
    border-color: #134c8d;
}

.slider-nav .slick-dots li button:hover:before ,
.slider-nav .slick-dots li.slick-active button:before {
    background: #134c8d;
}

.slider-nav .slick-prev i {
    margin-left: -45px;
    margin-top: 0;
}

.slider-nav .slick-next i {
    margin-left: 17px;
    margin-top: -14px;
}

.box-modal_two {
    width: 1150px;
}

.sertif .slick-list {
    width: 1148px;
}

.sertif .slick-list .slick-track {
    width: 1148px;
}

.one-slider {
    width: 1086px;
}

.card__one {
    margin-right: 0px;
}

.page_search {
    min-height: 100%;
    position: relative;
}

.footer_search {
    position: absolute;
	width: 100%;
	bottom: 0;
}